body {
	background-image: url('../images/background1.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.noColor {
	width:500px;
	height:800px;
	background:rgba(0,150,200,0);
	margin: 0px auto;
	-webkit-filter: blur(2px); /* Chrome, Opera, etc. */
	filter: url('blur.svg#blur'); /* Older FF and others - http://jordanhollinger.com/media/blur.svg */
	filter: blur(2px); /* Firefox 35+, eventually all */
}

#showBg {   /*introduce myself*/
  background-position: center top;
  padding: 100px 90px 20px 90px;
}

#showBg_other1 {   /*introduce otherthing left*/
  background-position: center top;
  padding: 100px 1100px 20px 90px;
}

#showBg_other2 {   /*introduce otherthing middal*/
  background-position: center top;
  padding: 100px 500px 20px 500px;
}

#showBg_other3 {   /*introduce otherthing right*/
  background-position: center top;
  padding: 100px 90px 20px 1100px;
}

#word-container {
  position: relative;
}

#word-bg {
  /* Absolutely position it, but stretch it to all four corners, then put it just behind #search's z-index */
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 99;

  /* Pull the background 70px higher to the same place as #wordBg's */
  background-position: center -70px;

  -webkit-filter: blur(10px);
  filter: url('/media/blur.svg#blur');
  filter: blur(10px);
}

#word {
  /* Put this on top of the blurred layer */
  position: relative;
  z-index: 100;
  padding: 20px;
  background: rgb(255,255,255); /* for IE */
  background: rgba(255,255,255,0.5);
}

#word h3, #word h4{
	text-align: center;
}
.photo {
	float: left; 
	margin: 15px;
}